@{
    ViewData["Title"] = "Μενού Επιλογών";
    Layout = null;
}

<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url('/images/background_mvc.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: beige;
        }

        .menu {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
            padding: 30px 40px;
            width: 400px;
        }

            .menu ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            .menu li {
                margin: 15px 0;
            }

            .menu button, .btn-secondary {
                font-size: 18px;
                padding: 12px 20px;
                background-color: #4CAF50;
                color: white;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                width: 100%;
                text-align: center;
            }

                .menu button[disabled], .btn-secondary[disabled] {
                    background-color: #ccc;
                    cursor: not-allowed;
                }

                .menu button:hover:not([disabled]), .btn-secondary:hover:not([disabled]) {
                    background-color: #389A3C;
                    transform: translateY(-2px);
                    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
                }

        .submenu {
            display: none;
            margin-top: 10px;
        }

            .submenu button {
                display: block;
                margin: 8px 0;
                font-size: 16px;
                padding: 10px;
                background-color: #007BFF;
                color: white;
                border: none;
                border-radius: 6px;
                transition: all 0.3s ease-in-out;
            }

                .submenu button:hover:not([disabled]) {
                    background-color: #0056b3;
                    transform: scale(1.05);
                }

        .bottom-right {
            position: absolute;
            bottom: 4px;
            right: 8px;
            background: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 4px;
            border-radius: 5px;
        }

        .top-left {
            position: absolute;
            top: 10px; /* Απόσταση από το πάνω μέρος */
            left: 10px; /* Απόσταση από την αριστερή πλευρά */
            width: 35px; /* Ρύθμιση μεγέθους */
        }
    </style>
</head>

<body>
    

    <img src="/images/global_tech.png" alt="Παράδειγμα εικόνας" width="200" height="170" />
    <h1>Καλώς ήρθες, @ViewBag.Username!</h1>

    <br>
    <div class="header">
        <h3>Επέλεξε μια από τις παρακάτω επιλογές</h3>
    </div>

    <div class="menu">
        <ul>
            <li>
                <button onclick="toggleSubmenu('customersMenu')"
                @(ViewBag.Role != "client" ? "disabled" : "")>
                    Πελάτες
                </button>
                <div id="customersMenu" class="submenu">
                    <a asp-controller="Home" asp-action="ViewBill" class="btn btn-primary">Προβολή Λογαριασμού</a> <br>
                    <a asp-controller="Home" asp-action="History" class="btn btn-primary">Προβολή Ιστορικού Κλήσεων</a><br>
                    <a asp-controller="Home" asp-action="Payment" class="btn btn-primary">Εξόφληση Λογαριασμού</a> <br>
                    <a asp-controller="Home" asp-action="ViewProgram" class="btn btn-primary">Προβολή Προγραμμάτων</a>  <br>
                    <a asp-controller="Home" asp-action="Gift" class="btn btn-primary">Τροχός της Τύχης</a>

                </div>
            </li>
            <li>
                <button onclick="toggleSubmenu('adminsMenu')"
                @(ViewBag.Role != "admin" ? "disabled" : "")>
                    Διαχειριστές
                </button>
                <div id="adminsMenu" class="submenu">
                    <a asp-controller="Home" asp-action="CreationSeller" class="btn btn-primary">Δημιουργία Νέου Πωλητή</a> <br>
                    <a asp-controller="Home" asp-action="EditSeller" class="btn btn-primary">Επεξεργασία Πωλητή</a> <br>
                    <a asp-controller="Home" asp-action="DeleteSeller" class="btn btn-primary">Διαγραφή Πωλητή</a> <br>
                    <a asp-controller="Home" asp-action="NewProgram" class="btn btn-primary">Δημιουργία Νέων Προγραμμάτων</a> <br>
                    <a asp-controller="Home" asp-action="ChangeProgram" class="btn btn-primary">Αλλαγή Χαρακτηριστικών Προγράμματος</a> <br>
                   

                </div>
            </li>
            <li>
                <button onclick="toggleSubmenu('sellersMenu')"
                @(ViewBag.Role != "seller" ? "disabled" : "")>
                    Πωλητές
                </button>
                <div id="sellersMenu" class="submenu">
                    <a asp-controller="Home" asp-action="CreateClient" class="btn btn-primary">Καταχώρηση Νέου Πελάτη</a> <br>
                    <a asp-controller="Home" asp-action="EditClient" class="btn btn-primary">Επεξεργασία Πελάτη</a> <br>
                    <a asp-controller="Home" asp-action="DeleteClient" class="btn btn-primary">Διαγραφή Πελάτη</a> <br>
                    <a asp-controller="Home" asp-action="IssuingBill" class="btn btn-primary">Έκδοση Λογαριασμού Πελατών</a> <br>
                    <a asp-controller="Home" asp-action="ChangeProgClient" class="btn btn-primary">Αλλαγή Προγράμματος Πελάτη</a> <br


                </div>
            </li>
        </ul>
        <button onclick="window.location.href='@Url.Action("Index", "Home")';" class="btn-secondary">Back</button>
    </div>
    <div class="bottom-right">
        <strong>Στοιχεία Επικοινωνίας:</strong> <br>
        Τηλέφωνο: 210-1234567 <br>
        Email: <a href="mailto:unipi@gmail.com">unipi@gmail.com</a>
    </div>
    <script>
        function toggleSubmenu(menuId) {
            const submenus = document.querySelectorAll('.submenu');
            submenus.forEach(submenu => {
                if (submenu.id !== menuId) {
                    submenu.style.display = 'none';
                }
            });

            const menu = document.getElementById(menuId);
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        }
    </script>
</body>

</html>
